.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-top: 67px;
}

.pagination {
    ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        gap: 20px;
        .previous {

        }
        li {
            &.selected {
                a {
                    border: 1px solid #FF0000;
                    color: #FF0000;
                }
            }
            &.previous{
                a {
                    border: none;
                    &:hover {
                        border: none;
                    }
                }
            }
            &.next{
                a {
                    border: none;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                    }
                    &:hover {
                        border: none;
                    }
                }
            }
            a {
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.4);
                padding: 4px 10px;
                cursor: pointer;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                -webkit-transition: linear .3s;
                -moz-transition: linear .3s;
                -ms-transition: linear .3s;
                -o-transition: linear .3s;
                transition: linear .3s;
                &:hover{
                    border: 1px solid #FF0000;
                    color: #FF0000;
                }
            }
        }
    }
}

.pagination > button:not(:first-child) {
    margin-left: 20px;
}