header.header {
  .header__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 88px;
    width: 100%;
    margin-bottom: 90px;
    margin-top: 38px;
    .header__column {
      display: flex;
      flex-flow: row;
      &:last-child {
        justify-content: space-between;
        flex: 1 0 0;
      }
      .header__logo {
        img {}
      }
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 28px;
      li {
        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          &.active {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #FF0000;
            position: relative;
            &::after {
              position: absolute;
              content: '';
              bottom: -5px;
              left: 0;
              width: 100%;
              height: 1px;
              background: #FF0000;
            }
          }
        }
      }
    }
  }
}
.account {
  .account__row {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    .account__reg {

    }
    .account__in {
      
    }
    button {
      background: #FFFFFF;
      border: 1px solid #000000;
      border-radius: 5px;
      height: 49px;
      padding: 0 32px;
      font-family: var(--font-family-mont);
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      -webkit-transition: linear .2s;
      -moz-transition: linear .2s;
      -ms-transition: linear .2s;
      -o-transition: linear .2s;
      transition: linear .2s;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
