.character-card {
    display: flex;
    flex-flow: row wrap;
  flex: 1 0 48%;
max-height: 164px;
  background: #FFFFFF;
  border: 1px dashed rgba(162, 162, 162, 0.6);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: linear .3s;
  -moz-transition: linear .3s;
  -ms-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
  &:hover{
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.4));
  }
    &__list {
      display: flex;
      flex-flow: column;
      gap: 5px;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-flow: row wrap;
          li {
            &:first-child {
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: #1F4766;
              flex: 1 0 0;
            }
            &:last-child {
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #000000;
              flex: 1 0 0;
            }
          }
        }
     }
  &__content {
    padding: 20px;
    flex: 1 0 0;
    display: flex;
    flex-flow: column;
    gap: 13px;
  }
  img {
    max-width: 168px;
    width: 100%;
    max-height: 164px;
  }
  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
    }
    .status {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      .status-icon {
        position: relative;
        &::before {
          position: absolute;
          width: 5px;
          height: 5px;
          content: '';
          left: -10px;
          top: 50%;
          border-radius: 50%;
          transform: translateY(-50%);
          background-color: inherit;
        }
      }
    }
  }

}
.char-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
