.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: linear .4s;
  -moz-transition: linear .4s;
  -ms-transition: linear .4s;
  -o-transition: linear .4s;
  transition: linear .4s;
  &.modal-active {
    opacity: 1;
    pointer-events: all;
    z-index: 500;
  }
  &__content {
    position: relative;
    padding: 20px;
    background: #FFFFFF;
    border: 1px dashed rgba(162, 162, 162, 0.6);
    box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    max-width: 370px;
    width: 100%;
    min-height: 300px;
    .ricktop {
      position: absolute;
      top: -160px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
    .mortyright {
      position: absolute;
      top: -40px;
      right: -150px;
      z-index: -1;
    }
  }
  form {
    display: flex;
    flex-flow: column;
    gap: 35px;
    h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
      text-align: center;
    }
    input {
      background: rgba(162, 162, 162, 0.1);
      border: 1px solid rgba(162, 162, 162, 0.6);
      border-radius: 5px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #000;
      height: 36px;
      padding: 0 11px;
      outline: none;
      &:focus {
        border: 1px solid #00A3FF;
      }
    }
    input[type=submit] {
      background: #000000;
      border-radius: 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      max-width: 236px;
      width: 100%;
      margin: 0 auto;
      cursor: pointer;
    }
    label {
      display: flex;
      align-items: center;
    }
  }
}
