.locations_card {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 48%;
  background: #FFFFFF;
  border: 1px dashed rgba(162, 162, 162, 0.6);
  border-radius: 5px;
  transition: linear .3s;
  position: relative;
  &:hover {
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.4));
    .add_favorite {
      opacity: 1;
    }
  }

}
.locations_content {
  padding: 20px;
  flex: 1 0;
  display: flex;
  flex-flow: column;
  gap: 9px;
}
.locations_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  width: 100%;
  text-align: center;
}
.locations_row {
  display: flex;
  flex-flow: row wrap;
}
.locations_column {
  display: flex;
  flex-flow: column;
  flex: 1 0 0;
}
.locations_wrap {
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin-bottom: 5px;
  flex: 1 0 0;
}
.locations_type {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1F4766;
}
.locations_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

}
.locations_name_small {
  font-size: 36px;
  line-height: 44px;
  flex: 1 0 0;
  display: flex;
  align-items: flex-end;
}
@import "../UI/add-remove_favorite-button.module";